* {
  margin: 0;
  padding: 0;
  background-size: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ProgressBars-box {
  height: 300px;
  width: 700px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}

.testBgColor {
  width: 80%;
  height: 30px;
  background-color: red;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Button-div {
  display: flex;
  gap: 10px;
  height: 30px;
  width: 130px;
}

.Button-div button:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.Button-div button:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
